# https://github.com/mopidy/mopidy/releases
#Mopidy==3.4.1 <- just get from apt since we are importing the repo anyways

# https://github.com/jaedb/Iris/releases
#Mopidy-Iris==3.64.0

# https://github.com/mopidy/mopidy-mpd/releases
Mopidy-MPD

# https://github.com/tkem/mopidy-podcast/tags
Mopidy-Podcast

# https://github.com/mopidy/mopidy-scrobbler/releases
Mopidy-Scrobbler

# https://github.com/mopidy/mopidy-spotify/releases
Mopidy-Spotify

# My used plugins
Mopidy-YTMusic
Mopidy-RadioNet
ytmusicapi
requests>=2.22.0
idna>=2.8.0
